body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 970px;
    margin: 0 auto;
}

#faq{
    margin-top:100px;
}

.question{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.answer{
    font-size: 14px;
    line-height: 24px;
    color: #3c4043;
    padding-bottom:30px;
}

a{
    text-decoration: none;
    color: #2962ff;
}

.list-alphabet{
    list-style-type: lower-alpha;
}

ol{
    padding-left:0;
}

ol li{
    margin:10px 0 0 15px;
    padding-left:15px;
}